.logo{
	border: 0;
    width: 147px;
    height: 110px;
    margin-top: -17px;
}

.intro {
	
	font-size: 18px;
	line-height: 30px;
	position: relative;
}
.intro:before {
    content: " ";
    display: block;
    position: absolute;
    background: url('./img/logopoint.png') no-repeat center;
    margin-top: 40px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
}
